$dark: #212529;
$primary: #457b9d;
$secondary: #1d3557;
$info: #a8dadc;
$light: #f1faee;
$danger: #e63946;

@font-face {
    font-family: 'Bebas';
    src: url(../fonts/BebasNeue-Regular.otf);
}
@font-face {
    font-family: 'Coluna';
    src: url(../fonts/Coluna.otf);
}